*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: #020f2a;
}

.espacio-vacio{
    width: 100%;
    height: 91px;
}

.header-container{
    background-color: rgba(4,86,148,255);
    display: flex;
}

.header{
    margin-left: 68%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenedor{
    position: fixed;
  z-index: 100;
  width: 100%;
}

.header-container a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}

.menu-container{
    width: 100%;
    height: 55px;
    background-color: rgba(4,86,148,255);
    border: 1px solid white;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr 1.5fr 1fr 2.5fr 2.5fr 1fr 1.5fr 3fr 2fr;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-top: 11px;
}

.dropdown button{
    border:none;
    border-radius:50%;
    font-size:14px;
    cursor:pointer;
    background:#296fa4;
    width: 31px;
    height: 31px;
    margin-left: 20px;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
}

.menu-fifa img{
    width: 94px;
    height: 30px;
    margin-top: 10px;
}

.menu-fifa{
    display: inline;
}

.menu-fifa a{
 text-align: center;
}

.links-menu {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-top: 19px;
}

.links-menu i{
    font-size: 19px;
    margin-left: 18px;
}

.links-menu button{
    background-color: rgba(4,86,148,255);
    border: none;
    color: rgb(0, 123, 255);
}

.main-container{
    display: grid;
    grid-template-columns: 33% 67%;
}

.left-padre{
    background-image: url("https://digitalhub.fifa.com/transform/3ade15f1-6bfe-4c7b-818c-b5b2f9605d33/FBSWC2024_Navy_SideHeader_DT");
    background-size: cover;
}

.right-padre{
    background-image: url("https://digitalhub.fifa.com/transform/1ede86c3-c488-416d-83de-ccd8b9ce93f3/1920-live-stream-hero?io=transform:fill,height:868,width:1536&quality=75");
    background-size: cover;
    cursor: pointer;
}

.left b{
    color: white;
    font-size: 14px;
}

.left p{
    font-size: 20px;
    color: white;
}

.left{
    text-align: center;
    margin-top: 27%;
    margin-bottom: 27%;
}

.left button{
    display: block;
    margin-top: 35px;
    background-color: #0a98e3;
    color: white;
    border: 1px solid #0a98e3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

.main-button{
    margin-left:18%;
    transition: 0.5s;
}

.main-button a{
    text-decoration: none;
}

.main-button:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
 
.titulo-right{
    font-size: 20px;
    color: white;
}

.descripcion-right{
    color: white;
    font-size: 14px;
}

.right{
    margin-top:35%;
    margin-bottom: 0;
    margin-left: 36px;
}

.cards-section-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.cards-section{
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 30px;
}

.cards-section p{
    color: white;
    font-size: 16px;
    display: inline;
}

.cards-section a{
    color: grey;
    font-size: 12px;
    display: inline;
    margin-left: 74%;
}

.cards-section a:hover{
    color: white;
    cursor: pointer;
}

.card-paris-2024{
    width: 50%;
    height: 8%;
    margin-top: 12px;
    cursor: pointer;
    margin-bottom: 60px;
}

.card-paris-2024 img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.card-paris-2024 p{
    font-size: 14px;
    padding-top: 14px;
}

.cards{
    height: 74%;
    width: 97%;
    transition: all 500ms ease;   
}
.cards img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;  
}

.cards img:hover{
    
    transform: scale(1.05);
}
.cards p{
    font-size: 14px;
}
/*css de cards paris 2024 hasta esta linea de codigo*/
.carrusel-cards-container {
    position: relative;
    margin-top: 26px;
}

.carrusel-cards{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
}

.slide-open:checked + .slide-item-1 {
    position: static;                                  
    opacity: 100;
}

.slide-item-1{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 11px;
}

.slide-control {
    border-radius: 50%;
    color: #428bca;
    display: none;
    font-size: 70px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 40%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    color: #3b7bb3;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
  /*fin estilos del carrusel de cards*/
.noticias-section{
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 30px;
    
}

.noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.left-noticias h2{
      color: white;
      font-size: 24px;
      margin-top: 10px;
      display: inline;
}
.left-noticias p{
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
.left-noticias{
    transition: all 500ms ease;   
}

.left-noticias img{
    width: 95%;
    height: 60%;
    border-radius: 10px;
    transition: all 500ms ease;   
}

.left-noticias img:hover{
    transform: scale(1.03);
}

.noticias-info{
    width: 80%;
    display: inline-block;
}

.noticias-info-icono{
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: -12%;
    left: 10%;
}

.right-noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    color: white;
    transition: all 500ms ease;  
}

.right-noticias-img img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    transition: all 500ms ease;  
}
.right-noticias-img img:hover{
    transform: scale(1.04);
}

.titulo-noticias{
    color: white;
    font-size: 24px;
    display: inline;
  
}

.noticias-section a{
    color: grey;
    font-size: 12px;
    display: inline;
    margin-left: 57%;
}